@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
h1{
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.h1{
    margin-top: 4rem;
    margin-bottom: 4rem;
}